<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Form</title>
    {% load static %} {#静的ファイルを読み込む#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </html>
  <body>
  <form method="POST"> {#送信ボタンの追加(CSRFトークンの設定がないと送信できない)#}
   {% csrf_token %}
   {{ form.name.label}} : {{ form.name }}
   {% if form.name.errors %}
       <div style="color:red;">{{ form.name.errors.as_text }}</div>
   {% endif %}
   {{ form.title.label}} : {{ form.title }}
   {% if form.title.errors %}
       <div style="color:red;">{{ form.name.errors.as_text }}</div>
   {% endif %}
   {{ form.memo.label}} : {{ form.memo }}
   {% if form.memo.errors %}
       <div style="color:red;">{{ form.name.errors.as_text }}</div>
   {% endif %}
    <input type="submit" value="送信">
  </form>
  </body>
</html>